# IBM Data Science Capstone Notebook

In [73]:
import pandas as pd
import numpy as np

In [74]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Part 1.1: Segmenting and Clustering Neighborhoods in Toronto

![Canada](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/7JXaz3NNEeiMwApe4i-fLg_40e690ae0e927abda2d4bde7d94ed133_Screen-Shot-2018-06-18-at-7.17.57-PM.png?expiry=1582761600000&hmac=IpmKvZARyx0Nnai2V60_NkUXZEXtzjgva_i4RLEyWek "Canada")

In [75]:
import requests
from bs4 import BeautifulSoup

### Use requests to call url

In [76]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(url)

### Use soup to scrape and find table

In [77]:
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0]
#print(table.prettify())

# Add Table to dataframe
df = pd.read_html(str(table))
#print(df[0].to_json())

### Convert html->json, Read from json

In [78]:
df_can = pd.read_json(df[0].to_json()).sort_index()
df_can.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Drop 'Not assigned' Boroughs

In [79]:
df_filter = df_can[df_can['Borough'] == 'Not assigned'].index
df_can.drop(df_filter,inplace=True)
df_can.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

### Find 'Not assigned' Neighbourhood

In [80]:
df_can[df_can['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [81]:
df_can['Neighbourhood'].replace( "Not assigned", df_can['Borough'] , inplace=True)
df_can[df_can['Borough'] == "Queen's Park"]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

### Dupilicate Handling

In [82]:
# Checking for duplicates
if df_can['Postcode'].duplicated().any(): print("Duplicates Exist!")
else: print("No duplicates!")

# Handling duplicate rows
df_dupe = df_can.groupby(['Postcode']).agg({'Borough':'first','Neighbourhood':', '.join})
df_can = df_dupe.reset_index()

# Checking for duplicates
if df_can['Postcode'].duplicated().any(): print("Duplicates Exist!")
else: print("No duplicates!")

Duplicates Exist!
No duplicates!

In [83]:
df_can.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [84]:
df_can.shape

(103, 3)